<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Reader Home</title>
</head>
<body>
    <%- include ('base/navbar'); %>
    <div class="container mt-4">
        <h1 class="mb-3">Articles</h1>
        <% if(articles.length > 0) { %>
            <% articles.forEach(function(article) { %>
                <div class="list-group-item">
                    <a href="/reader/article/<%= article.id %>" class="link-dark text-decoration-none">
                        <h2 class="mb-1"><%= article.title %></h2>
                        <h3 class="mb-2"><%= article.subtitle %></h3>
                        <p><strong>By:</strong> <%= article.author %></p>
                        <p><strong>Published on:</strong> <%= new Date(article.publicationDate).toLocaleDateString() %></p>
                    </a>
                </div>
            <% }); %>
        <% } else { %>
            <div class="alert alert-warning">
                Articles are empty at the moment...
            </div>
        <% } %>
    </div>
</body>
</html>